@{
    Layout = null;

    var colors = new List<SelectListItem>
    {
    new SelectListItem {Selected = false, Text = "Black", Value = "Black"},
    new SelectListItem {Selected = false, Text = "Brown", Value = "Brown"},
    new SelectListItem {Selected = false, Text = "Red", Value = "Red"},
    new SelectListItem {Selected = false, Text = "Orange", Value = "Orange"},
    new SelectListItem {Selected = false, Text = "Yellow", Value = "Yellow"},
    new SelectListItem {Selected = false, Text = "Green", Value = "Green"},
    new SelectListItem {Selected = false, Text = "Blue", Value = "Blue"},
    new SelectListItem {Selected = false, Text = "Violet", Value = "Violet"},
    new SelectListItem {Selected = false, Text = "Gray", Value = "Gray"},
    new SelectListItem {Selected = false, Text = "White", Value = "White"}
     };
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (@Html.BeginForm("GetOhm", "Ohm", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-12 form-group" style="floatleft">
            <div class="row">
                <div class="col-md-2">
                    <label for="Band-A">Band A</label>
                    <br />
                    @Html.DropDownList("BandA", colors)

                </div><br />
                <div class="col-md-2">
                    <label for="Band-B">Band B</label>
                    <br />
                    @Html.DropDownList("BandB", colors)

                </div><br />
                <div class="col-md-2">
                    <label for="Band-C">Band C</label>
                    <br />
                    @Html.DropDownList("BandC", colors)

                </div><br />
                <div class="col-md-2">
                    <label for="Band-D">Band D</label>
                    <br />
                    @Html.DropDownList("BandD", colors)

                </div><br />
            </div>
            <button id="btnOhm" onclick="javascript: return GetOhm();">GetOhm</button>&nbsp;<br />

        </div>
    }
    <div class="row">
        <div style="float:left;width:100%">
            <label for="lblOhm">Ohm-Value</label>

            <br />@Html.TextBox("ohm", (String)ViewBag.Ohm)
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    function GetOhm()
    {
        //var bandA = $("#BandA").val();
        //var bandB = $("#BandB").val();
        //var bandC = $("#BandC").val();
        //var bandC = $("#BandD").val();

        return true;
    }
</script>

